body {
	margin: 0;
}
.container {
	width: 80%;
	margin: auto;
}
.row {
	width: 100%;
}

.bkground {
	background-color: pink;
}

nav {
	padding: 25px 15px;
	margin: 10px;
}
.content {
	padding: 150px;
	background-color: purple;
}